.App {
  text-align: center;
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center children horizontally */
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  flex-direction: column;
}

.react-chatbot-kit-chat-container {
  width: 40vw;
}