.App {
  text-align: center;
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center children horizontally */
  background-color: #55D6C2;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  flex-direction: column;
}

.react-chatbot-kit-chat-container {
  width: 40vw;
  border: 1px solid #000; /* Example border: solid, 2 pixels wide, black */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Creates a "floating" effect */
  margin: 20px auto; /* Adds some space around the container and centers it horizontally */
  border-radius: 10px; /* Optional: rounds the corners of the border */
}

/* FF8966 */